.container {
    border: solid;
    border-radius: 8px;
    justify-content: center;
    padding: 25px;
}

.board {
    margin: 25px;
    display: grid;
    gap: 30px;
    width: 750px;
    justify-items: center;
}